.a {
  background-image: url("sprite.png?v=46e6d61d5d");
  width: 54px;
  height: 54px;
  background-position: 0px 0px;
  background-size: 162px auto;
}
.b {
  background-image: url("sprite.png?v=46e6d61d5d");
  width: 54px;
  height: 54px;
  background-position: -54px 0px;
  background-size: 162px auto;
}
.c {
  background-image: url("sprite.png?v=46e6d61d5d");
  width: 1.6875rem;
  height: 1.6875rem;
  background-position: 0rem -1.6875rem;
  background-size: 5.0625rem auto;
}
.d {
  background-image: url("sprite.png?v=46e6d61d5d");
  width: 54px;
  height: 54px;
  background-position: -54px -54px;
  background-size: 162px auto;
}
.e {
  background-image: url("sprite.png?v=46e6d61d5d");
  width: 1.125rem;
  height: 1.125rem;
  background-position: -2.25rem 0rem;
  background-size: 3.375rem auto;
}
.f {
  background-image: url("sprite.png?v=46e6d61d5d");
  width: 54px;
  height: 54px;
  background-position: -108px -54px;
  background-size: 162px auto;
}
